thermostat {
    
    .currentTempCont {
        font-size: 56px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .input-cont {
        width: 50px;
    }

    .temperatureInput {
        margin: auto;
    }
}
